*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* background-color: #000; */
    /* color: white; */
    overflow: hidden;
}

.s1{
    overflow: auto;
}

.ss1{
display: flex;
    justify-content: space-between; /* Isse arrows left mein aur buttons right mein ho jayenge */
    align-items: center;
    padding: 16px;
    background-color: #121212; /* Background color matching Spotify */
    position: sticky;
    top: 0;
    z-index: 10;
}

.footer{

    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{

    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.4;
}




